html {
    font-size: 100%;
    box-sizing: border-box;
}

body {
    background-color: #ECECEC;
}

th,td.center {
    text-align: center;
    vertical-align: middle;
}

table.a {
    width: 60%;
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    border: 2px solid yellow;
}

.flex-child.central {
    display: flex;
    justify-content: center;
    align-items: center;
}