{% extends "layout.html" %}

{% block title %}
    Calculate you fodder needs!
{% endblock %}

{% block main %}
<form action="/" method="post">
    <h1>Please fill in the form:</h1>
    <br>
    <div class="form-group">
        <h2>Please select a hero:</h2>
        <input autocomplete="off" autofocus class="form-control" name="hero" placeholder="Ex: Sigmund" type="text">
    </div>
    <div class="form-group">
        <h2>Starting level:</h2>
        <select class="form-control" name="stars_start" required>
            <option value="4">4 stars</option>
            <option value="5">5 stars</option>
            <option value="6">6 stars</option>
            <option value="7">7 stars</option>
            <option value="8">8 stars</option>
            <option value="9">9 stars</option>
            <option value="10">10 stars</option>
            <option value="E1">E1</option>
            <option value="E2">E2</option>
            <option value="E3">E3</option>
            <option value="E4">E4</option>
        </select>
    </div>
    <div class="form-group">
        <h2>Upgrade to:</h2>
        <select class="form-control" name="stars_end" required>
            <option value="5">5 stars</option>
            <option value="6">6 stars</option>
            <option value="7">7 stars</option>
            <option value="8">8 stars</option>
            <option value="9">9 stars</option>
            <option value="10">10 stars</option>
            <option value="E1">E1</option>
            <option value="E2">E2</option>
            <option value="E3">E3</option>
            <option value="E4">E4</option>
            <option value="E5">E5</option>
        </select>
    </div>
    <div class="form-group">
        <h2># of 4 star heroes in shards:</h2>
        <input autocomplete="off" autofocus class="form-control" name="initial_4star" type="number" min="0">
    </div>
    <div class="form-group">
        <h2># of 5 star heroes in shards:</h2>
        <input autocomplete="off" autofocus class="form-control" name="initial_5star" type="number" min="0">
    </div>
    <button class="btn btn-secondary" type="submit">Calculate</button>
</form>
{% endblock %}